<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-COmpatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
		<title>David's Portfolio</title>
	</head>


	<body>

			<div class="sidebar-container nav-container">
				<div class = "fixed">
					<div class="nav-logo">
							<h1 class="title-super clickable">DGL</h1>
					</div>
					<div class="nav">
						<span class="nav-about clickable">about</span>
						<span class ="nav-project clickable">projects</span>
						<span class="nav-contact clickable">contact</span>
					</div>

				</div>
			</div>


		<main>
			<div class="nav-container">
				<span class="menu-icon glyphicon glyphicon-menu-hamburger clickable" aria-hidden="true"></span>
				<div class="menu-dropdown">
					<div>
						<span class="nav-about clickable">about</span>
						<span class ="nav-project clickable">projects</span>
						<span class="nav-contact clickable">contact</span>
					</div>
					<hr>
				</div>
			</div>

			<section class="about-container container-container" >
				<div class="heading padding-adjust">
					<h2>David G. Lee</h2>
					<h6>front-end developer</h6>
				</div>
				<div class="inner-container">
					<p>Hi my name is David Lee. I studied Digital Media at the NYU Tandon School of Engineering. What is digital media you may ask? It’s a broad range of things including 3d, game design, programming, photography and other bits and bobs. Once out of school I gravitated towards 3d roles, regardless of how limited the 3d role was or it’s intended purpose. It gave me exposure to many things and different fields. As a freelancer you are required to continue learning, stay up to date, learn new programs, and fast. Somewhere along the way I realized I enjoy learning. And I started branching out. I attended graphic designing school part time and worked at a small design studio; I got to try a lot of new things as well as learn a lot at the same time. Currently, I’m continuing my learning endeavor with Front End Web. My passion for learning has given me a multi- faceted skill set with varied experience. I will continue to hone my skill set, and learn while sharing my knowledge with others.
					</p>
					<div class="nav">
						<span class="clickable">
							<a href="https://github.com/concoctionfactory" target="_blank"> resume</a>
						</span>

						<span class="clickable">
							<a href="https://github.com/concoctionfactory" target="_blank"> git hub</a>
						 </span>
					</div>
				</div>
				<hr class="margin-adjust">
			</section>


			<section class="thumbnail-container container-container" id="thumbnails">
				<div class="heading padding-adjust">
					<h2>projects</h2>
				</div>
				<hr class="margin-adjust">
			</section>


			<section class = "contact-container container-container">
				<div class="heading padding-adjust">
					<h2>contact</h2>
					<p>concoctionfactory@gmail.com</p>
				</div>
			</section>
		</main>

		<div class="footer"> </div>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

		<script id="thumbnailTemplate" type="text/html">
			<div class="inner-container">
				<div class="image-container">
					<img src=<%= "images/"+folder+"/"+thumbnail %>>
					<div class="title-description">
						<h3 class="title"><%= title%></h3>
						<p class="description"><%=description%></p>
					</div>
				</div>
				<div class="nav">
					<span class="clickable">
						<a href=<%= source%> target="_blank">source</a>
					</span>
					<span class="clickable">
						<a href=<%= view%> target="_blank">view</a>
					</span>
				</div>
			</div>
		</script>

		<script src="js/app.js"></script>


	</body>
</html>